@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  @apply w-full min-h-full bg-gray-800 text-slate-100 flex flex-col justify-between;
}
